.home-page-container {
    display: flex;
    flex-direction: row;
  }
  .welcome-text{
    display: flex;
    flex-direction: column;
  }
  h1{
    margin-left: 2vw;
  }
  p{
    max-width: 50vw;
    margin-left: 2vw;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 2vw;
    position: fixed;
    right: 2vw;
    top:10vh;
  }
  
  .big-beautiful-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #3f51b5;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .big-beautiful-button:hover {
    background-color: #303f9f;
  }
  